.footer-container {
    width: 100%;
    height: fit-content;
    max-width: 100%;
    margin: 0;
    padding: 0;

    background-color: $color-darkgrey;
    .top-text {

    }

    .icon {
        font-size: $font-size-mega;
    }
    
    .bottom-text {

    }
}