.typer-container {
    background-color: inherit;
    
    margin: 0 auto;

    width: 60%;
    min-width: 1000px;
    height: 100%;

    .header-container {
        height: 10% !important;
        .header {

            .alt{
                color: $color-blue;
            }
        }
    }
    
    .text-container{
        height: 35% !important;
        font-size: $font-size-large;

        background-color: inherit;
        text-align: center;
        .highlight {
            background-color: $color-blue;
            &.correct{
                background-color: $color-green !important;
            }
            &.incorrect{
                background-color: $color-red !important;
            }
        }
       
    }

    .input-container {

        justify-content: center;

        .input-field {    
            width: 100%;
            font-size: $font-size-mega;
            color: $color-white;

            background-color: inherit;
            border: 0;
            border-bottom: 3px solid $color-charcoal;
            text-align: center;
            -webkit-appearance: none;
            &:focus {
                border:0;
                border-bottom: 3px solid $color-lightgrey;
                outline: none;
            }
        }
    }

    .controls-container {
        align-items: center;
        .icon-container {      
           font-size: $font-size-large;
        }
    }

    .information-container {
        width: 50%;
        font-size: $font-size-large;
    }
   
}